a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

.header {
    z-index: 5;
    width: 100%;
    position: relative;
    margin-top: 1.5rem;
}

.buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.buttons .header-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons .header-buttons a {
    color: #fff;
    padding: 10px;
    font-weight: 600;
    transition: all .2s;
}

.buttons .download-button {
    justify-content: flex-end;
    display: flex;
}

#logo {
    padding: 1rem;
    transition: all 500ms cubic-bezier(.4, 0, 0, 1);
}

#logo:hover {
    transform: rotate(90deg);
}

@media only screen and (max-width: 500px) {
    .download-button {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 560px) {
    .buttons {
        justify-content: center;
    }
}

@media screen and (max-width: 836px) {
    .buttons {
        justify-content: center;
        flex-direction: column;
    }
}